//Colors
$main-blue: rgb(19, 21, 56);
$secondary-blue: rgb(44, 142, 194);
$pink: rgb(199, 0, 60);
$white: rgb(247, 247, 247);

//Fonts
$mukta: 'Mukta', sans-serif;
$ssp: 'Source Sans Pro', sans-serif;

//Breakpoints
$break-desktop: toRem(920);